.titleText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 95%; 
  display: block;
}

.descriptionContainer {
  position: relative;
  margin: 10px 0;
}

.descriptionText {
  color: rgb(80, 86, 92);
  font-size: 1rem; 
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  margin-bottom: 0.5rem; 
  overflow: hidden; 
  max-height: 4rem; 
}

.learnMoreLink {
  display: inline-block;
  border: 2px solid;
  border-radius: 16px;
  background-color: #f7e0e0;
  padding: 5px 10px; 
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-size: 0.8rem;
  margin-left: 5px; 
  vertical-align: top; 
}
